body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bb153d;
    animation: fadeIn 2s ease-in-out; /* Add fade-in effect */
}

header {
    background-color: #7d0c36;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    animation: slideDown 2s ease-in-out forwards; /* Add forwards */
}


@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
